fastapi
uvicorn[standard]
gunicorn
upstash-redis
groq
qdrant-client
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
numpy
pymupdf
python-multipart
numpy<2.0.0